# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mason\OneDrive\Documents\1 Johns Hopkins\1. Software Testing & Debugging\Pokemon-Battle-Simulator-Debugging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
